<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Flight Tracker" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://mongoose-flights-lab.herokuapp.com/" />
    <meta property="og:image" content="https://i.imgur.com/g4wqZd9.png" />
    <meta
      name="description"
      content="A NodeJS/ExpressJS web app for logging and tracking flights."
    />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <title>Flight Tracker</title>
</head>
    <body>
        <nav>
            <a href="/" class="navlink">Home</a> |
            <a href="/flights" class="navlink">Flights</a> |
            <a href="/flights/new" class="navlink">New</a>
        </nav>
        <br>