<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Flight Tracker</title>
</head>
    <body>
        <nav>
            <a href="/" class="navlink">Home</a> | <a href="/flights" class="navlink">Flights</a> | <a href="/flights/new" class="navLink">New</a>
        </nav>
        <h1>Flight List</h1>
        <table>
            <thead>
                <tr>
                    <th>Airline</th>
                    <th>Flight No.</th>
                    <th>Departure Date/Time</th>
                </tr>
            </thead>
            <tbody>
                <% flights.forEach((flight) => { %>
                    <tr>
                        <td><%= flight.airline %></td>
                        <td><%= flight.flightNo %></td>
                        <td><%= flight.departs %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
        <br>
        <form action="/flights/new">
            <button type="submit">New Flight</button>
        </form>
    </body>
</html>