<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Flight Tracker - New</title>
</head>
    <body>
        <nav>
            <a href="/" class="navlink">Home</a> | <a href="/flights" class="navlink">Flights</a> | <a href="/flights/new" class="navlink">New</a>
        </nav>
        <br>
        <h2>Enter a New Flight</h2>
        <br>
        <form action="/flights" method="POST">
            <label>Airline:
                <select name="airline">
                    <option value="American">American</option>
                    <option value="Southwest">Southwest</option>
                    <option value="United">United</option>
                </select>
            </label><br><br>
            <label>Origin Airport:
                <select name="airport">
                    <option value="AUS">AUS</option>
                    <option value="DFW">DFW</option>
                    <option value="LAX">LAX</option>
                    <option value="SFO">SFO</option>
                    <option value="SEA">SEA</option>
                </select>
            </label><br><br>
            <label>Flight No.:
                <input type="text" name="flightNo">
            </label><br><br>
            <label>Departure Date/Time:
                <input type="datetime-local" name="departs">
            </label><br><br>
            <center><input type="submit" value="Add" class="btn"></center>
        </form>
    </body>
</html>